<template>
    <div id="app">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-md-6 hotel-part" :class="[modal_open ? 'modal-open' : '']">
                    <h1>Выберите отель</h1>
                    <div class="row">
                        <div class="col-xl-4 col-md-6" v-for="hotel in hotels">
                            <hotel-component
                                v-bind="hotel"
                                :key="hotel.id"
                                :hotel="hotel"
                            @modal="modalopen"></hotel-component>
                        </div>
                    </div>

                    <form-component @modal="modalclose"></form-component>
                </div>
                <div class="col-md-6 map-part">
                    <GmapMap
                        :center="{lat:38.711670, lng:-9.138516}"
                        :zoom="14"
                        map-type-id="terrain"
                        class="w-100 h-100"
                    >
                        <GmapMarker
                            :key="index"
                            v-for="(m, index) in this.markers"
                            :position="m.position"
                            :clickable="true"
                            :draggable="true"
                            @click="marker_click(m.hotel)"
                        />
                    </GmapMap>
                </div>
            </div>

        </div>
    </div>
</template>


<script>

    import HotelComponent from './components/HotelComponent.vue';
    import FormComponent from './components/FormComponent.vue';


    function Hotel({ id, image, name, city, address, coord_ltd, coord_lng}) {
        this.id = id;
        this.image = image;
        this.name = name;
        this.city = city;
        this.address = address;
        this.coord_ltd = coord_ltd;
        this.coord_lng = coord_lng;
    }


    export default {
        data() {
            return {
                modal_open: false,
                hotels: [],
                markers: []
            }
        },
        methods: {
            async read() {
                const { data } = await window.axios.get('/api/hotels');
                data.forEach(hotel => this.hotels.push(new Hotel(hotel)));

                this.hotels.forEach(hotel => this.markers.push({
                    position: {
                        lat: parseFloat(hotel.coord_ltd),
                        lng: parseFloat(hotel.coord_lng)
                    },
                    hotel: hotel,
                    content: hotel.name
                }));
            },
            async modalopen() {
                this.modal_open = true;
            },
            async modalclose() {
                this.modal_open = false;
            },
            marker_click(hotel) {

                if(!this.$store.getters.hotel) {
                    this.$store.dispatch('change_form_visible');
                    this.modalopen();
                }
                this.$store.dispatch('set_hotel',hotel);
            }
        },
        components: {
            HotelComponent,
            FormComponent
        },
        created() {
            this.read();


        }
    }
</script>


<style lang="scss" scoped>

    .hotel-part {
        border-right: 1px solid #eee;
        padding-top: 25px;
        padding-bottom: 25px;
        height: 100%;
        overflow-y: auto;
        position: relative;

        &.modal-open {
            overflow: hidden;
        }

        h1 {
            font-size: 26px;
            border-bottom: 1px solid #eee;
            padding-bottom: 6px;
            margin-bottom: 25px;
            font-weight: normal;
        }
    }

    .map-part {
        height: 100%;
        overflow: hidden;
    }
</style>
