<template>
    <div>
        <transition name="slide-fade">
            <div class="full-form" v-show="isFormVisible">
                <div v-if="hotel">
                    <strong>Вы выбрали: </strong>
                    <div class="hotel-info card">
                        <div class="d-flex">
                            <div class="image">
                                <img :src="hotel.image">
                            </div>
                            <div class="info">
                                <div class="name">{{ hotel.name }}</div>
                                <div class="city">{{ hotel.city }}</div>
                                <div class="address">{{ hotel.address }}</div>
                                <a href="#" @click.prevent="hide_form">Изменить выбор</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    Отель не выбран
                </div>

                <form class="form-info" @submit.prevent="book">
                    <h2>Заполните информацию для бронирования</h2>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>Выберите даты поездки:</strong>
                                    <div :class="[field_errors.date_start || field_errors.date_end ? 'alert alert-danger' : '']"  >
                                        <VueHotelDatepicker
                                            format="DD.MM.YYYY"
                                            separator=" -> "
                                            :minDate="date"
                                            :minNight="1"
                                            :selectForward="true"
                                            :weekList="weekList"
                                            :monthList="monthList"
                                            fromText="С"
                                            toText="По"
                                            resetText="Сбросить"
                                            confirmText="Выбрать"
                                            placeholder="Выберите даты поездки"
                                            class="date-input"
                                            @update="set_book_dates"
                                        />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <strong>Количество гостей:</strong>
                                    <select class="form-control guest-number" :class="[field_errors.guests ? 'is-invalid' : '']"   v-model="guests">
                                        <option v-for="n in 25" :value="n">{{ n }}</option>
                                    </select>
                                </div>
                            </div>

                            <h3>Контактное лицо</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <strong>Фамилия</strong>
                                        <input type="text" class="form-control" :class="[field_errors.surname ? 'is-invalid' : '']" v-model="surname">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <strong>Имя</strong>
                                        <input type="text" class="form-control" :class="[field_errors.name ? 'is-invalid' : '']"  v-model="name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <strong>Отчество</strong>
                                        <input type="text" class="form-control" :class="[field_errors.patronymic ? 'is-invalid' : '']"  v-model="patronymic">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <strong>Телефон</strong>
                                        <input type="text" class="form-control" :class="[field_errors.phone ? 'is-invalid' : '']"   v-model="phone">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <strong>E-mail</strong>
                                        <input type="text" class="form-control" :class="[field_errors.mail ? 'is-invalid' : '']"   v-model="mail">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-primary btn-lg">Подтвердить бронирование</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

        </transition>
        <transition name="slide-fade">
            <div class="success-booking" v-show="success">
                <div class="d-flex mh-100 w-100 justify-content-center align-items-center text-center mt-5 mb-5">
                    <div>
                        <h1>Номер в отеле {{ hotel.name }} успешно забронирован</h1>

                        <div class="alert alert-success ">
                            <p>На ваш e-mail {{ mail }} мы выслали подробности бронирования.</p>
                            <p>Также в течение суток вам придёт SMS с адресом отеля и номером бронирования. </p>

                            <strong>Удачного отдыха!</strong>
                        </div>

                        <div class="alert alert-secondary booking-info">
                            <h4>Подробности бронирования</h4>
                            <ul>
                                <li>
                                    <strong>Отель:</strong> {{ hotel.name }}
                                </li>
                                <li>
                                    <strong>Город:</strong> {{ hotel.city }}
                                </li>
                                <li>
                                    <strong>Адрес:</strong> {{ hotel.address }}
                                </li>
                                <li>
                                    <strong>Даты поездки:</strong> с {{ this.book_dates.start }} по {{ this.book_dates.end}}
                                </li>
                                <li>
                                    <strong>Количество гостей:</strong> {{ guests }}
                                </li>
                            </ul>
                            <div class="mt-2">
                                <span>Информация о контактном лице</span>
                            </div>
                            <ul>
                                <li>
                                    <strong>ФИО:</strong> {{ surname }} {{ name }} {{ patronymic }}
                                </li>
                                <li>
                                    <strong>E-mail:</strong> {{ mail }}
                                </li>
                                <li>
                                    <strong>Телефон:</strong> {{ phone }}
                                </li>
                            </ul>
                        </div>

                        <small>
                            <strong>P.S.</strong> В рамках теста на почту и телефон ничего не пошлётся :)
                        </small>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>


<script>

    import VueHotelDatepicker from '@northwalker/vue-hotel-datepicker'

    export default {
        data() {
            return {
                date: new Date(),
                weekList: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
                monthList: ['Янв','Фев','Март','Апр','Май','Июнь','Июль','Авг','Сен','Окт','Ноя','Дек'],
                book_dates: {},
                surname: '',
                name: '',
                patronymic: '',
                mail: '',
                phone: '',
                guests: 1,
                success: false,
                field_errors : {
                    book_dates: false,
                    mail: false,
                    phone: false,
                    guests: false,
                    name: false,
                    surname: false,
                    patronymic: false
                }
            }
        },
        methods: {
            hide_form() {
                this.$store.dispatch('change_form_visible');
                this.$emit('modal',false);
                this.$store.dispatch('set_hotel',false);
            },
            set_book_dates(obj) {
                this.book_dates = obj;
            },
            async book() {

                let booking_data = {
                    hotel_id: this.$store.getters.hotel.id,
                    date_start: this.book_dates.start,
                    date_end: this.book_dates.end,
                    surname: this.surname,
                    name: this.name,
                    patronymic: this.patronymic,
                    phone: this.phone,
                    mail: this.mail,
                    guests: this.guests
                };

                for(let i in this.field_errors) {
                    this.field_errors[i] = false;
                }

                await window.axios.post('/api/booking', booking_data).then((res) => {

                    this.$store.dispatch('change_form_visible');
                    this.success = true;

                    return res;
                }).catch((error) => {
                    if(error.response ){
                        for(let i in error.response.data.errors) {
                            this.field_errors[i] = true;
                        }

                        console.log(error.response);
                    }
                });


            }
        },
        components: {
            VueHotelDatepicker
        },
        computed: {
            hotel() {
                return this.$store.getters.hotel;
            },
            isFormVisible() {
                return this.$store.getters.form.visibility
            }
        }
    }
</script>

<style lang="scss" scoped>
    .full-form {
        position: fixed;
        height: 100%;
        overflow-y: auto;
        width: 50%;
        top: 0;
        left: 0;
        z-index: 10;
        padding: 15px 25px;
        background: #f8f8f8;

        .hotel-info {
            .image {
                width: 100px;
                height: 100px;
                overflow: hidden;
                margin: 13px;
                border-radius: 0.25rem;

                img {
                    width: 150%;
                }
            }

            .info {
                margin: 13px;

                .name {
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }

        .form-info {
            h2 {
                margin-top: 35px;
                font-size: 26px;
                border-bottom: 1px solid #eee;
                padding-bottom: 6px;
                margin-bottom: 25px;
                font-weight: normal;
            }

            .guest-number {
                width: 100px;
            }

            h3 {
                font-size: 19px;
                margin-top: 30px;
                margin-bottom: 15px;
            }
        }
    }

    @media (max-width: 1200px) {
        .full-form {
            width: 100%;
        }
    }

    .success-booking {
        overflow: auto;
        padding: 10px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(255,255,255,0.8);
        z-index: 100;

        h1, h4{
            margin-top: 35px;
            font-size: 26px;
            border-bottom: 1px solid #eee;
            padding-bottom: 6px;
            margin-bottom: 25px;
            font-weight: normal;
            display: block;
        }



        .booking-info {

            text-align: left;

            h4 {
                font-size: 19px;
                margin-top: 0;
                margin-bottom: 15px;
            }
        }

        small {
            margin-top: 25px;
            font-size: 12px;
            color: #999;
        }
    }

    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to {
        transform: translateX(10px);
        opacity: 0;
    }
</style>

