<template>
    <div class="hotel-preview card mb-3">
        <div class="card-content">
            <div class="image-box">
                <img v-bind:src="hotel.image"/>
            </div>
            <div class="card-body">
                <div class="name">{{ hotel.name | properCase }}</div>
                <div class="city">{{ hotel.city }}</div>
            </div>
        </div>
        <div class="card-footer text-center" @click="choose_variant(hotel)">
            <button class="btn btn-primary">
                Выбрать этот отель
            </button>
        </div>
    </div>
</template>


<script>
    export default {
        data() {
            return {
                click: null
            };
        },
        computed: {
        },
        methods: {
            choose_variant(item) {
                this.$store.dispatch('set_hotel',item);
                this.$store.dispatch('change_form_visible');
                this.$emit('modal',true);
            }
        },
        props: {
            hotel: Object
        },
        filters: {
            properCase(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .hotel-preview {
        overflow: hidden;

        .image-box {
            max-height: 180px;
            overflow: hidden;

            img {
                min-width: 100%;
                max-width: 150%;
            }
        }

        .name {
            color: #0071c2;
            font-size: 16px;
            line-height: 24px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
</style>
